body {
    background-color: grey;

}

#panneau {
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#main {
    border: dotted;
}

#delete{
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    width: 5%;
    height: 5%;

}
#icon{
    height: 70%;
    width: 70%;
}

#gomme{
    align-self: center;
    width: 50px;
    height: 50px;

}
#icon2{
    height: 95%;
    width: 95%;
}

#jaune {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: yellow;
}

#vert {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: green;
}

#black {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: black;
}

#orange {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: orange;
}

#blanc {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: white;
}

#marron {

    align-self: center;
    width: 50px;
    height: 50px;
    background-color: brown;
}

#violet {
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: purple;
}

#rgb {
    align-self: center;

}

input[type="color"] {

    display: block;
    width: 60px;
    height: 60px;
    background-color: grey;
    border: grey;
}

.case {
    width: 5px;
    height: 5px;
    border: 5px;


}

#tableau {
    display: flex;
    height: 100%;
    width: 100%;

}

.colonne {

    display: flex;
    flex-direction: column;
}

b{
    position: fixed;
    left: 52%;
    top:15%;
    font-size: 17px;
}