body {
    background-color: grey;

}

#panneau {
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#main {
    border: dotted;
}

#delete{
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    width: 5%;
    height: 5%;

}
#iconDelete{
    height: 70%;
    width: 70%;
}

#gomme{
    align-self: center;
    width: 50px;
    height: 50px;

}
#iconErase{
    height: 100%;
    width: 100%;
}

#circle{

    align-self: center;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 30px;
    background-color: black;

}





#square{
    align-self: center;
    width: 50px;
    height: 50px;
    border: solid;
}

#rgb {
    align-self: center;

}
#background{
   align-self: center;
}

#colors_b{
    border: solid;
}


#rectangle{

    align-self: center;
    width: 100px;
    height: 50px;
    border: solid;
}
input[type="color"] {

    display: block;
    width: 60px;
    height: 60px;
    background-color: grey;
    border: grey;
}

.case {
    width: 5px;
    height: 5px;
    border: 5px;
}

#tableau {
    display: flex;
    height: 100%;
    width: 100%;

}

.colonne {

    display: flex;
    flex-direction: column;
}

#b_color{
    position: absolute;
    left: 75%;
    top:15%;
    font-size: 17px;
}
#b_background_color{
    position: absolute;
    left: 83%;
    top:15%;
    font-size: 17px;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

input:hover{


    animation: bounce 1s;

}
#panneau>div:hover{
    animation: bounce 1s;
}



.square{
    height: 300px;
    width: 300px;
    border: solid;
}

.carre{
    height: 50px;
    width: 50px;
    border: solid;
}
.rectangle{
    height: 50px;
    width: 100px;
    border: solid;
}

